name: 'Publish to Github pages'
on:
  push:
    branches:
      - master
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Restore Workloads
        run: dotnet workload restore
      - name: Test
        run: dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat="opencover"
          
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - name: Install DocXml
        run: dotnet tool install xmldocmd -g 
      - name: generate docs
        working-directory: src/TailoredApps.Shared.DateTime/bin/Debug/netstandard2.0
        run: xmldocmd ./TailoredApps.Shared.DateTime.dll ../../../../../docs/Libraries/
      - run: pip install mkdocs-material 
      - name: Publish
        run: mkdocs gh-deploy --force
        
  