name: 'Build'
on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-2022
    steps:
      # Checkout the code
      - uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore Workloads
        run: dotnet workload restore
      
      - name: Publish
        run: dotnet build TailoredApps.Shared.sln --configuration Release
        working-directory: .
      
