on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
name: Create Release
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

        # Install .NET Core SDK
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Dotnet Pack 
      working-directory: .
      run: dotnet build TailoredApps.Shared.sln -c Release -p:Version=${GITHUB_REF##*/v}
      
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.DateTime/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.Email/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.EntityFramework/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.EntityFramework.UnitOfWork.WebApiCore/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.ExceptionHandling/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.MediatR/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.MediatR.Caching/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.MediatR.Email/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.MediatR.ML/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.MediatR.PagedRequest/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.Payments/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.Payments.Provider.CashBill/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.Querying/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.Email.Models/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
    - name: Dotnet Nuget Push   
      working-directory: src/TailoredApps.Shared.Email.Office365/bin/Release
      run: dotnet nuget push TailoredApps.Shared.*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      continue-on-error: true
      
